@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* .login-logo {
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: "cover";
}

.logo-page {
  background-image: url("https://images.unsplash.com/photo-1599305445671-ac291c95aaa9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2938&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: "cover";
} */


@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 77, 79, 0.7);
  }
  70% {
    box-shadow: 0 0 0 6px rgba(255, 77, 79, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 77, 79, 0);
  }
}

.badge-pulse .ant-badge-count {
  animation: pulse-red 2s infinite; /* สั่งให้กระพริบ */
  background-color: #ff4d4f !important; /* บังคับสีแดงสด */
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, 0.2); /* ขอบบางๆ */
}
